html {
	scrollbar-width: none;
}

body {
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100vh;
	color: white;
	display: flex;
	align-items: center;
	margin: 15px;
}

#carousel {
	display: flex;
	gap: 1em;
	width: 100%;
	height: 350px;
	overflow-x: auto;
	scrollbar-width: none;
	padding: 0 0px 0 10px;
}

.card {
	min-width: 32.5%;
	height: 300px;
	border: 2px solid white;
	border-radius: 15px;
	position: relative;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.title {
	text-align: center;
	border-bottom: 1px solid white;
	width: 95%;
	margin: 30px auto 0 auto;
	padding-bottom: 20px;
	font-size: 2.5em;
}

.description {
	padding: 0 5%;
	font-size: 1.5em;
}

.go-to-project {
	background-image: linear-gradient(320deg, #0055FF, #032D80);
	position: absolute;
	bottom: 0%;
	left: 50%;
	translate: -50% 50%;
	color: white;
	text-decoration: none;
	width: 50%;
	height: 20%;
	border: 2px solid white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 1;
	font-size: 2.5em;
}

.go-to-project:hover {
	background-color: #0743BC;
}

#carousel button {
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: #BD20F0;
	color: white;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	cursor: pointer;
}

#carousel button:hover {
	background-color: #9D0ACD;
}

#prev_button {
	left: 0px;
}

#next_button {
	right: 0px;
}