@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--main-color: #12F6CE;
	--main-hover-color: #1CD6B5;
	--uncomplited-color: #FFFFFF;
	--complited-color: #404040;
	--placeholder-color: #9f9f9f;
	--background-1: #0e0e12;
	--background-2: #211f1f;
	--background-3: #303030;
	--remove-hover-color: #b90609;
	--button-hover-color: #000000;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--background-1);
}

header {
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: Roboto;
	font-size: 4rem;
	color: var(--main-color);
	margin-bottom: 2rem;
}

header input {
	width: calc(100% - 6.5rem);
	height: 3rem;
	padding: 0 5.5rem 0 1rem;
	border-radius: 2rem;
	background-color: transparent;
	border: none;
	color: var(--placeholder-color);
	font-size: 1.2rem;
}

#main_input {
	position: relative;
	width: 50%;
	border: 1px solid var(--placeholder-color);
	border-radius: 2rem;
}

button {
	cursor: pointer;
}

header button {
	font-family: Roboto;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 5rem;
	border-radius: 2rem;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: var(--main-color);
	color: var(--button-hover-color);
}

header button:hover {
	background-color: var(--main-hover-color);
}

main {
	margin-top: 2rem;
}

span {
	color: var(--uncomplited-color);
	font-family: Roboto;
	max-width: calc(100% - 35px - 24px);
	overflow: hidden;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
	list-style: none;
}

li {
	background-color: var(--background-2);
	width: 50%;
	position: relative;
	display: flex;
	align-items: center;
	padding: 1rem;
	border-radius: 1rem;
	transition: 500ms ease;
}

main button {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 10px;
}

main input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ label > svg {
	fill: #211f1f;
}

label {
	height: 25px;
	width: 25px;
	border: 2px solid var(--main-color);
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	transition: 200ms ease;
}

input[type="checkbox"]:checked ~ label {
	background-color: var(--main-color);
}

input[type="checkbox"]:checked ~ span, input[type="checkbox"]:checked ~ span span {
	text-decoration: line-through;
	color: var(--complited-color);
}

button > svg {
	transition: 200ms ease;
}

button:hover > svg {
	fill: var(--remove-hover-color);
}

.fade {
	opacity: 0;
}

footer {
	position: fixed;
}

footer button {
	/*font-size: 1rem;*/
	height: 80%;
	font-family: Roboto;
	border-radius: 2rem;
	padding: .25rem;
	border: 1px solid var(--placeholder-color);
	background-color: var(--background-3);
	color: var(--placeholder-color);
	transition: 200ms ease;
}

footer button:hover {
	background-color: var(--main-hover-color);
	color: var(--button-hover-color);
}

@media(max-width: 811px) {
	header button {
		top: 110%;
		left: 50%;
		translate: -50% 0;
	}

	header input {
		width: calc(100% - 2rem);
		padding: 0 1rem;
	}

	main {
		margin-top: 80px;
	}
}

@media(max-width: 661px) {
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		height: 5%;
		background-color: var(--background-2);
		bottom: 0;
		align-items: center;
		gap: .5rem;
	}
}