html{
	height: 100%;
}
body {
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
div {
	background-color: white;
	border-radius: 15px;
	padding: 2em;
	text-align: center;
	margin: auto;
	/*box-shadow: 5px 5px 15px rgb(0, 0, 0 , 0.3);*/
	position: relative;
}
#title {
	font-size: 2em;
}
#degrees {
	margin: 1em;
	text-align: center;
}
#submit {
	margin: 0.6em 0;
	background-color: red;
	color: white;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
	padding: 15px 10px;
}
#result {
	font-size: 1.5em;
}
div::before, div::after{
	content: "";
	background-image: conic-gradient(from var(--angle), red, orange, yellow, green, cyan, blue, purple, red);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	border-radius: 15px;
	padding: 5px;
	animation: spin 3s linear infinite;
}
div::before {
	filter: blur(5em);
}
@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
@keyframes spin{
	0% {
		--angle: 0deg;
	} 100% {
		--angle: 360deg;
	}
}