.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	background-color: hsl(0, 0%, 10%);
	padding: 10px;
	border-radius: 10px;
}

button {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: hsl(0, 0%, 20%);
	color: white;
	border: none;
	justify-self: center;
	cursor: pointer;
	font-size: 2em;
}

button:hover {
	background-color: hsl(20, 100%, 50%);
}

button:active {	
	background-color: hsl(20, 100%, 70%);
}

.calculator {
	width: 450px;
	background-color: hsl(0, 0%, 20%);
	border-radius: 10px;
	overflow: hidden;
}

#display {
	width: 100%;
	height: 100px;
	padding: 0;
	border: 0;
	font-size: 4em;
	background-color: transparent;
	color: white;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}