body {
	font-family: monospace;
	margin: 0;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-image: url('https://www.skyweaver.net/images/media/wallpapers/wallpaper1.jpg');
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
}

#game_controller {
	border: 1px solid black;
	border-radius: 15px;
	backdrop-filter: blur(5px);
}

#button_controller {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-bottom: 10px;
	width: 95%;
	margin: auto;
	border-bottom: 1px solid black;
}

button {
	font-size: 4em;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	border: 1px solid black;
	transition: 0.5s;
}

button:hover {
	background-color: rgba(164, 33, 239, 0.3);
}

button:active {
	transition: 0s;
	background-color: rgba(190, 85, 250, 0.4);
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin: 10px;
}

.result {
	border-bottom: 1px solid black;
	width: 95%;
	margin: auto;
}